@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Libreria de Peliculas</h1>
    <p>Aplicativo Web para buscar informacion de tus peliculas preferidas!</p>
</div>
